* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > div:first-child {
  background-color: #0082f9;
  padding: 5px 0;
}

header > div:first-child .container.top {
  gap: 20px;
  display: flex;
  justify-content: end;
}

header > div:nth-child(2) .container.bottom {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div:nth-child(2) .container.bottom img {
  width: 70px;
}

header > div:nth-child(2) .container.bottom ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

header > div:nth-child(2) .container.bottom ul a {
  text-decoration: none;
}

header > div:last-child {
  height: 400px;
  overflow: hidden;
}

header .container {
  max-width: 1200px;
  margin: auto;
}

main section:first-child > div:first-child {
  color: #fff;
  background-color: #1c1c1c;
}

main section:first-child > div:first-child .container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

main section:first-child > div:first-child .container a {
  text-decoration: none;
  color: #fff;
}

main section:first-child > div:first-child .container h2 {
  background-color: #0082f9;
  position: absolute;
  padding: 10px 15px;
  top: -20px;
}

main section:first-child > div:first-child .container #comics-container {
  padding: 50px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main section:first-child > div:first-child .container #comics-container .card {
  width: 14.2857142857%;
}

main section:first-child > div:first-child .container #comics-container .card a div {
  overflow-y: hidden;
  height: 180px;
}

main section:first-child > div:first-child .container #comics-container .card a div img {
  width: 100%;
}

main section:first-child > div:first-child .container #comics-container .card a h4 {
  padding: 10px 0;
}

main section:first-child > div:first-child .container > div {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

main section:first-child > div:first-child .container > div h3 {
  padding: 10px 35px;
  text-align: center;
  background-color: #0082f9;
}

main section:first-child > div:last-child {
  background-color: #0082f9;
  padding: 30px;
}

main section:first-child > div:last-child ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

main section:first-child > div:last-child ul a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

main section:first-child > div:last-child ul a img {
  width: 40px;
}

footer {
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer > div:first-child {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

footer > div:first-child > .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: 100%;
}

footer > div:first-child > .container > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

footer > div:first-child > .container > div:first-child > div {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

footer > div:first-child > .container > div:first-child > div ul {
  list-style-type: none;
}

footer > div:first-child > .container > div:last-child img {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

footer > div:last-child {
  background-color: #303030;
}

footer > div:last-child .container {
  padding: 40px 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div:last-child .container button {
  border: 2px solid #0082f9;
  padding: 10px;
  background: none;
  color: #fff;
}

footer > div:last-child .container ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

#comic > div:first-child {
  background-color: #0082f9;
}

#comic > div:first-child .container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  height: 50px;
}

#comic > div:first-child .container > div {
  position: absolute;
  height: 291px;
  bottom: 20px;
}

#comic > div:first-child .container > div img {
  position: relative;
}

#comic > div:first-child .container > div span {
  position: absolute;
  background-color: #01a8d9;
}

#comic > div:first-child .container > div > #comic-book {
  top: 0px;
  left: 0;
}

#comic > div:first-child .container > div > span:last-child {
  text-align: center;
  width: 100%;
  bottom: 0;
}

#comic > div:last-child {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  display: flex;
  gap: 10px;
  border: 1px solid green;
}

#comic > div:last-child > div:first-child {
  border: 1px solid red;
}

#comic > div:last-child > div:first-child #price-availability {
  color: #fff;
  display: flex;
  background-color: #55ba59;
  padding: 10px 0;
}

#comic > div:last-child > div:first-child #price-availability > div:first-child {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 0 30px;
}

#comic > div:last-child > div:first-child #price-availability > div:last-child {
  text-align: center;
  width: 20%;
}

