#comic{
    & > div:first-child{
        background-color:#0082f9;
        .container{
            max-width: 1200px;
            position: relative;
            margin: auto;
            height: 50px;

            & > div{
                position: absolute;
                height: 291px;
                bottom: 20px;
                img{
                    position: relative;

                }
                span{
                    position: absolute;
                    background-color: #01a8d9;

                }
                & > #comic-book{
                    top:0px;
                    left: 0;


                }
                & > span:last-child{
                    text-align: center;
                    width: 100%;
                    bottom: 0;

                }

            }
        }
    }

    & > div:last-child{
            max-width: 1200px;
            margin: auto;
            background-color: #fff;
            display: flex;
            gap: 10px;
            border: 1px solid green;
            & > div:first-child{
                border: 1px solid red;
                #price-availability{
                    color: #fff;
                    display: flex;
                    background-color: #55ba59;
                    padding: 10px 0 ;
                    & > div:first-child{
                        display: flex;
                        width: 80%;
                        justify-content: space-between;
                        padding: 0 30px;
                    }
                    & > div:last-child{
                        text-align: center;
                        width: 20%;
                    }
                }
            }


    }
}
